$primary-color: #3860F4;

@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: ('white': #ffffff,
    'black': #000000,
    'primary': ('base': $primary-color,
    ),
    'success': ('base': #67c23a,
    ),
    'warning': ('base': #e6a23c,
    ),
    'danger': ('base': #f56c6c,
    ),
    'error': ('base': #f56c6c,
    ),
    'info': ('base': #909399,
    ),
  ),
);

.el-button {
  height: 30px;
  padding: 7px 9px;
}
